/* Estilos gerais */
.window-title {
    font-weight: bold;
    font-size: 16px;
}

.error {
    color: #e01b24;
    font-weight: bold;
    margin-top: 10px;
}

/* Cores para cartões */
.card-blue {
    background-color: #3584e4;
    border-radius: 4px;
}

.card-green {
    background-color: #33d17a;
    border-radius: 4px;
}

.card-yellow {
    background-color: #f6d32d;
    border-radius: 4px;
}

.card-red {
    background-color: #e01b24;
    border-radius: 4px;
}

/* Centralização de elementos */
.centered-content {
    margin: auto;
}

/* Estilização dos botões */
button.minimize-button,
button.hide-button,
button.close-button {
    padding: 4px;
    border-radius: 50%;
}

button.minimize-button {
    background-color: #f6d32d;
}

button.hide-button {
    background-color: #33d17a;
}

button.close-button {
    background-color: #e01b24;
}

/* Estilos para login */
.login-container {
    padding: 24px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Estilos para listbox */
.boxed-list {
    background-color: @window_bg_color;
    border-radius: 12px;
}

/* Melhorar contraste de texto */
.heading {
    font-weight: bold;
    font-size: 16px;
}

.caption {
    font-size: 12px;
}

/* Centralização das janelas */
window {
    background-color: @window_bg_color;
}